.active {
    font-weight: bold;
    border: 1px solid #086375;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #086375;
    background-color: #A7FFF6;
  }
  .nav-link:hover {
    border-bottom: 2px solid #086375;
  }
  #title{
  color: #086375;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
  }
  #nav{
    color: #A4F9C8;
  }
  #nav1, #nav2,#nav3,#nav4{
    color: #086375;
  font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: large;
  font-style: normal;
  }
  #navbar{
    color: #A4F9C8;
  }
  #quote{
    font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  margin: 100px;
  color: hsl(181, 75%, 42%);
  }
  #sp1,#sp2{
     background-color: #D5F0C1;
     color: #086375;
     font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  background-size: contain;
  }

  #cont2{
    background-color: #AAD9BB;
  }
  #img1{
    margin: 100px;
  }

